<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Openstreetmap-Project" data-toc-modified-id="Openstreetmap-Project-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Openstreetmap Project</a></span><ul class="toc-item"><li><span><a href="#List-of-modules-used" data-toc-modified-id="List-of-modules-used-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>List of modules used</a></span></li><li><span><a href="#Set-the-data-file" data-toc-modified-id="Set-the-data-file-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Set the data file</a></span></li></ul></li><li><span><a href="#Read-data-from-OSM-file-and-create-some-csv-files" data-toc-modified-id="Read-data-from-OSM-file-and-create-some-csv-files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read data from OSM file and create some csv files</a></span></li><li><span><a href="#Create-the-database" data-toc-modified-id="Create-the-database-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create the database</a></span></li><li><span><a href="#Populate-the-database" data-toc-modified-id="Populate-the-database-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Populate the database</a></span></li><li><span><a href="#Correct-the-data" data-toc-modified-id="Correct-the-data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Correct the data</a></span><ul class="toc-item"><li><span><a href="#Check-the-names-of-the-ways" data-toc-modified-id="Check-the-names-of-the-ways-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Check the names of the ways</a></span><ul class="toc-item"><li><span><a href="#Check-of-the-name-extentions" data-toc-modified-id="Check-of-the-name-extentions-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Check of the name extentions</a></span></li><li><span><a href="#Check-the-correctness-of-the-hyphenation" data-toc-modified-id="Check-the-correctness-of-the-hyphenation-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Check the correctness of the hyphenation</a></span></li><li><span><a href="#Check-the-correctness-of-the-name-composed-by-a-place" data-toc-modified-id="Check-the-correctness-of-the-name-composed-by-a-place-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Check the correctness of the name composed by a place</a></span></li><li><span><a href="#Correction-of-values-in-the-database" data-toc-modified-id="Correction-of-values-in-the-database-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>Correction of values in the database</a></span></li></ul></li><li><span><a href="#Check-of-the-postcode" data-toc-modified-id="Check-of-the-postcode-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Check of the postcode</a></span></li><li><span><a href="#Check-of-the-phone-number" data-toc-modified-id="Check-of-the-phone-number-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Check of the phone number</a></span><ul class="toc-item"><li><span><a href="#Correction-of-the-phone-numbers-in-the-database" data-toc-modified-id="Correction-of-the-phone-numbers-in-the-database-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Correction of the phone numbers in the database</a></span></li></ul></li><li><span><a href="#Check-of-the-fax-numbers" data-toc-modified-id="Check-of-the-fax-numbers-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Check of the fax numbers</a></span><ul class="toc-item"><li><span><a href="#Correction-of-the-bad-fax-number" data-toc-modified-id="Correction-of-the-bad-fax-number-5.4.1"><span class="toc-item-num">5.4.1&nbsp;&nbsp;</span>Correction of the bad fax number</a></span></li></ul></li></ul></li><li><span><a href="#Analysis-of-the-data" data-toc-modified-id="Analysis-of-the-data-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Analysis of the data</a></span><ul class="toc-item"><li><span><a href="#How-many-nodes-in-the-database?" data-toc-modified-id="How-many-nodes-in-the-database?-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>How many nodes in the database?</a></span></li><li><span><a href="#How-many-ways-in-the-database?" data-toc-modified-id="How-many-ways-in-the-database?-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>How many ways in the database?</a></span></li><li><span><a href="#How-many-users-are-in-the-tables?" data-toc-modified-id="How-many-users-are-in-the-tables?-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>How many users are in the tables?</a></span></li><li><span><a href="#List-of-different-type-of-elements-in-the-file" data-toc-modified-id="List-of-different-type-of-elements-in-the-file-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>List of different type of elements in the file</a></span></li><li><span><a href="#What-about-fire-protection?" data-toc-modified-id="What-about-fire-protection?-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>What about fire protection?</a></span></li></ul></li><li><span><a href="#Close-the-database" data-toc-modified-id="Close-the-database-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Close the database</a></span></li><li><span><a href="#Possible-improvement" data-toc-modified-id="Possible-improvement-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Possible improvement</a></span><ul class="toc-item"><li><span><a href="#Use-a-dictionary" data-toc-modified-id="Use-a-dictionary-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Use a dictionary</a></span></li><li><span><a href="#Cross-the-data-on-a-bigger-dataset" data-toc-modified-id="Cross-the-data-on-a-bigger-dataset-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Cross the data on a bigger dataset</a></span></li><li><span><a href="#Better-visualisation" data-toc-modified-id="Better-visualisation-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Better visualisation</a></span></li></ul></li></ul></div>

In [2]:
import sys
import os
import xml.etree.ElementTree
import csv
import re
import sqlite3
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

% matplotlib inline

# Openstreetmap Project

The goal of this project is to parse data from a openstreetmap OSM file (XML format), populate a database and perform some analysis.

## List of modules used

In [3]:
print("Python: Version {}".format(sys.version))
print("sqlite3: sqlite3 is a python embedded module. Please refer to the python's version.")
print("xml.etree.ElementTree: xml is a python embedded module. Please refer to the python's version.")
print("os: os is a python embedded module. Please refer to the python's version.")
print("csv: Version {}".format(csv.__version__))
print("re: Version {}".format(re.__version__))
print("pandas: Version {}".format(pd.__version__))
print('matplotlib: Version {}'.format(matplotlib.__version__))
print('numpy: Version {}'.format(np.__version__))

Python: Version 3.6.6 (default, Sep 12 2018, 18:26:19)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]
sqlite3: sqlite3 is a python embedded module. Please refer to the python's version.
xml.etree.ElementTree: xml is a python embedded module. Please refer to the python's version.
os: os is a python embedded module. Please refer to the python's version.
csv: Version 1.0
re: Version 2.2.1
pandas: Version 0.23.4
matplotlib: Version 3.0.0
numpy: Version 1.15.2

## Set the data file

The data is the area covers the city of Buxtehude and some area in south and east. This area contains some city and land parts and have probably less focus than big cities.

The area is visible here:

https://www.openstreetmap.org/export#map=12/53.4352/9.7596

The data are exported in the OSM file: **Buxtehude.osm**

To perform this studie a smaller subset was extracted:

https://www.openstreetmap.org/export#map=14/53.4383/9.6234

The data are exporter in the OSM file: **Apensen.osm**

In [4]:
#dataFileName = 'Apensen.osm'
dataFileName = 'Buxtehude.osm'

In [5]:
statinfo = os.stat(dataFileName)
print('Size of the source file {}: {:.3f}Mb'.format(dataFileName, statinfo.st_size / (1024 * 1024)))

Size of the source file Buxtehude.osm: 64.846Mb

Database filename

In [6]:
dbFileName = 'Openstreetmap.db'

# Read data from OSM file and create some csv files

The first part is to read the data from the OSM file and export them to some CSV files.

For clarity the process is split in several functions (see below). Then main function is called 'parseOSMfile'.

The OSM file is opened with the XML parser and the elements are read in sequence. The data are store in the relevant CSV file.

At the end, one CSV file will be obtain per table in the database.

In [7]:
# List of all csv files
csvFiles = {'node':'nodes.csv',
         'way':'ways.csv',
         'node_tags': 'nodes_tags.csv',
         'way_tags': 'ways_tags.csv',
         'way_node':'ways_nodes.csv'}

# List of all fields for the csv files and the database
fields = {'node': ['id', 'lat', 'lon', 'user', 'uid', 'version', 'changeset', 'timestamp'],
           'way': ['id', 'user', 'uid', 'version', 'changeset', 'timestamp'],
           'node_tags': ['id', 'key', 'value', 'type'],
           'way_tags': ['id', 'key', 'value', 'type'],
           'way_node': ['id', 'node_id', 'position']}

In [8]:
# Functions used to parse the OSM file and writte in the CSV files

def initCSVfiles():
    '''
    Create empty csv files and add the header line
    
    parameters:
    ------------
    None
    
    returns:
    --------
    a dictionary containing the file descriptor and the csv writer object
    '''
    fileDescriptor = {}
    for f in csvFiles:
        #print('init {}'.format(files[f]))
        fileId = open(csvFiles[f], 'w', encoding='utf-8')
        csvWriter = csv.writer(fileId, delimiter=';',
                            quotechar='\'', quoting=csv.QUOTE_MINIMAL)
        csvWriter.writerow(fields[f])
        fileDescriptor[f] = {}
        fileDescriptor[f]['fileId'] = fileId
        fileDescriptor[f]['csvWriter'] = csvWriter
        
    return fileDescriptor

def closeCSVfiles(fileDesc):
    '''
    Close all csv files opened
    
    parameters:
    -----------
    the file descriptor dictionary returned by the initCSVfiles function.
    
    returns:
    --------
    None
    '''
    for f in fileDesc:
        fileDesc[f]['fileId'].close()

In [9]:
def writeElem(elemType, elem, fileDesc):
    '''
    write an element in the corresponding csv file
    
    parameters:
    -----------
    - elemType: a string of the type of element to be written.
    - elem: dict of data to be written in the csv file
    - fileDesc: dictionary of the file decriptor (given by the initCSVfiles function)
    
    returns:
    --------
    None
    '''
    record = []
    for i in fields[elemType]:
        record.append(elem[i])
    
    fileDesc[elemType]['csvWriter'].writerow(record)

In [10]:
def correctBadCaracters(string):
    '''
    remove problematic charracteres from a stings.
    
    All special character in the form '&#xxx;' will be removed and semi-colon will be replaced by a
    space char.
    
    parameters:
    -----------
    - string: the string to be corrected
    
    returns:
    --------
    the input string without problematic characters
    '''
    correctedString = ''
    start = 0
    end = 0
    
    # Remove the '&#xxx' special caracters
    pattern = r'&#?.*?;'
    if re.search(pattern, string):
        for m in re.finditer(pattern, string):
            end = m.start()
            correctedString += string[start:end]
            start = m.end()
    else:
        correctedString = string
    
    # Remove remaning semi-colon
    correctedString = correctedString.replace(';', ' ')
    
    return correctedString
    
def parseTag(id, attrib):
    '''
    Parse the tag k and return the value, the key and the type
    
    parameters:
    -----------
    - id: id of the node or the way
    - attrib: XML object
    
    returns:
    --------
    a dictionary with the Id of the parent, the key, value and type
    '''
    
    if 'k' in attrib:
        pattern = re.compile('^([a-z_]+):(.*)$')
        match = pattern.match(attrib['k'])
    
        if match:
            type_ = match.group(1)
            key = match.group(2)
        else:
            type_ = attrib['k']
            key = ''
    else:
        key = None
        type_ = None
    
    # Correct the value string which can contain problematic characters
    value = correctBadCaracters(attrib['v'])
    return {'id': id, 'key':key, 'value':value, 'type':type_}

In [11]:
def parseElement(element, fileDesc):
    '''
    parse an element and write the data in the different csv files
    
    parameters:
    -----------
    - element: XML object to be parsed
    - fileDesc: dictionary of the file decriptor (given by the initCSVfiles function)

    returns:
    --------
    None
    '''
    targetElement = ['node', 'way']
    
    if element.tag in targetElement:
        #print('Parsing: {}'.format(element.tag))
        selectedAttribs = fields[element.tag]

        # Parse the main elements Node and Way
        attribs = element.attrib
        elem = {}
        for i in selectedAttribs:
            elem[i] = attribs[i]  
        writeElem(element.tag, elem, fileDesc)
        
        # Parse the subelements Tag and Nd
        position = 0
        for e in element:
            tag = {}
            node = {}
            if e.tag == 'nd':
                node = {'id': elem['id'], 'node_id': e.attrib['ref'], 'position': position}
                position += 1
                writeElem('way_node', node, fileDesc)
            elif e.tag == 'tag':
                tag = parseTag(elem['id'], e.attrib)
                writeElem(element.tag + '_tags', tag, fileDesc)

In [12]:
def parseOSMfile(fileName):
    '''
    main function to extract the data from an OSM file to CSV files
    
    parameters:
    -----------
    fileName: string of the path of the OSM file
    
    returns:
    --------
    None
    '''
    fileDesc = initCSVfiles()
    e = xml.etree.ElementTree.parse(fileName).getroot()
    for element in e:
        parseElement(element, fileDesc)
    closeCSVfiles(fileDesc)

The CSV files can be generated:

In [13]:
parseOSMfile(dataFileName)

List of all CSV files in the current directory:

In [14]:
fileList = os.listdir()

print('List of csv files.')
pattern = re.compile('.*\.csv$')
for f in fileList:
    if pattern.match(f):
        statinfo = os.stat(f)
        print('File {} ({:.1f}kb)'.format(f, statinfo.st_size / 1024))

List of csv files.
File nodes_tags.csv (1502.7kb)
File ways_nodes.csv (8054.3kb)
File nodes.csv (20556.0kb)
File ways.csv (2965.4kb)
File ways_tags.csv (4491.3kb)

Those files can be used to populate the database

# Create the database

From the CSV, it is now easy to populate the database. The database will be created with the schema contains in the file 'data_wrangling_schema.sql'

The database is a SQLite one.

In [15]:
# Creation of the database

# To avoid errors, if the database file does not exist, it is created else just the connexion will
# be established.
if not os.path.isfile(dbFileName):
    conn = sqlite3.connect(dbFileName)
    c = conn.cursor()
    with open('data_wrangling_schema.sql') as f:
        print('Creating database...')
        text = f.read()
        c.executescript(text)
        conn.commit()
        print('Execute SQL statement: \n{}'.format(text))
else:
    print('Database file {} already exists. This file will be use.'.format(dbFileName))
    conn = sqlite3.connect(dbFileName)
    c = conn.cursor()

Database file Openstreetmap.db already exists. This file will be use.

# Populate the database

The database file exists, it can be populated with the CSV files previously generated.

In [16]:
# Function to populate the dabase

def populateDatabase(dbConn):
    '''
    populate the database with the CSV files.
    
    The name of the files and the table are extracted from the global table 'csvFiles'
    
    parameters:
    -----------
    - dbConn: connexion variable to the database
    
    returns:
    --------
    None
    '''
    for f in csvFiles:
        print('Reading file {} for table {}'.format(csvFiles[f], csvFiles[f].split('.')[0]))
        df = pd.read_csv(csvFiles[f], sep=';', dtype={"id": np.int32})
        df.to_sql(csvFiles[f].split('.')[0], dbConn, if_exists='replace', index=False)

In [17]:
populateDatabase(conn)

Reading file nodes.csv for table nodes
Reading file ways.csv for table ways
Reading file nodes_tags.csv for table nodes_tags
Reading file ways_tags.csv for table ways_tags
Reading file ways_nodes.csv for table ways_nodes

Now the database is populated and can be used.

# Correct the data

## Check the names of the ways

A quality check of the naming can be done.
For clarity, only the 10 first names are displayed.

In [ ]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'addr\' AND key=\'street\''
names = pd.read_sql(sqlQuery, conn)
names[0:10]

In Germany the  naming convention of the streets is quite tricky. Some streets have only one word for some others Straße or Weg are separated and some other contains some hyphens. The rule is as the following:
- The standard is to name the ways or place with one word. (Like 'Torfweg' or 'Falkenstraße')
- If the name refers to a person and this name is only one word, the name will be written in one word (e.g. Goethestraße)
- If the name refers to a person and this name is composed by several words, the name will be written in several words but separate by an hypen (e.g. 'Catharina-Gerkens-Weg')
- If the name refer to a place, it will be written in several words (e.g. 'Buxtehuder Straße')
- If the name refer to a quality (straight, blue...), it will be written in several words (e.g. 'Blauer Weg', 'Alter Platz')

In Germany, the names of the streets are often written as "str" instead of 'Straße' (e.g. 'Landstr.')

To verify all this rules a dictionary will be needed. This is out of scope of this project but can be taken for improvements.

What can be done is:
- Check the extention of the street name ('Straße' and not 'Str.') (Can be done automaticaly)
- Correctness of the hyphenation (should be done manually)
- Check of name if refers to a place (it will end by 'er'). (should be done partily manually)

### Check of the name extentions

The name of the streets must be ' Straße' or '\*straße' and not ' Str. or '\*str.'

In [ ]:
names[names.value.str.match('.* ?[sS]tr\.?$')]

One error found. The good value is 'Neukloster Straße'

### Check the correctness of the hyphenation

The check is to see if some names are composed by only two words or not composed by a name of a person.

For clarity, only the first 10 name are exported but the whole list was inspected.

In [ ]:
names[names.value.str.match('\w+\-')][0:10]

All are named from People and are composed by several words. It is all correct.

### Check the correctness of the name composed by a place

The name of the place are in general ended by 'er'. The name should be like 'Buxtehuder Straße'. All name composed by *erstraße, *erweg or *erplatz are suspect and should be verified.

For clarity, only the first 10 name are exported but the whole list was inspected.

In [ ]:
names[names.value.str.match('.*er .*$')][0:10]

We find again the 'Neukloster Str.' but the rest seems to be correct.

What about the one words names?

For clarity, only the first 10 name are exported but the whole list was inspected.

In [ ]:
names[names.value.str.match('.*er(?:str|weg|platz).*$')][0:10]

At first look, it seems to be correct. Nevertheless a deeper inspection is needed.

### Correction of values in the database

One error was found. 'Neukloster Straße' is named 'Neukloster Str.'. Let fixt it. We will do it in a programatical way. The process can be reused on other dataset.

First we can extract the name of the streets we want to change (this can be given by an algorithm which check the error with a dictionary)

Let find a methode to correct all Str. abbreviations automaticaly.

We want to correct such values:

In [ ]:
originalNames = names[names.value.str.match('.* ?[sS]tr\.?$')]
originalNames

We can write a function which correct the name. As we see in german the words can be glued together or separated by a space or an hypen. Our methode must cover all those cases.

In [ ]:
def ExpandAbbreviation(name):
    pattern = '^(.*[ -]??)[sS]tr\.?$'
    s = re.match(pattern, name) 
    if s:
        if s.group(1)[-1] in [' ', '-']:
            return s.group(1) + 'Straße'
        else:
            return s.group(1) + 'straße'
    else:
        return name

Let tests some cases:

In [ ]:
testNames = ['Test', 'Teststraße', 'Test Straße',
             'Test Str.', 'Test Str',
             'Test str.', 'Test str',
             'Teststr.', 'Teststr',
             'Test-foo-Str.', 'Test-foo-str'
            ]
for n in testNames:
    print('{}\t-->\t{}'.format(n, ExpandAbbreviation(n)))

It works on the test cases. Let apply the functions on our values.

In [ ]:
newNames = originalNames['value'].apply(ExpandAbbreviation).values.flatten()

In [ ]:
newNames

The names are corrected. We have to correct them in the database.

In [ ]:
sqlUpdateRequest = 'UPDATE ways_tags SET value = \'{}\' WHERE value = \'{}\';'
for i in range(len(originalNames['value'].values.flatten())):
    sqlQuery = sqlUpdateRequest.format(newNames[i], originalNames['value'].values.flatten()[i])
    c.execute(sqlQuery)

Are the errors corrected?

In [ ]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'addr\' AND key=\'street\''
names = pd.read_sql(sqlQuery, conn)
names[names.value.str.match('.* ?[sS]tr\.?$')]

No more wrong value anymore but are they really corrected?

In [ ]:
names[names.value.str.match('Neukloster.*$')]

All is fine now.

## Check of the postcode

The postcodes in Germany are in a 5 Digit format. In the extracted area they should all in the form of by 21XXX.

In [40]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'addr\' AND key=\'postcode\''
postcodes = pd.read_sql(sqlQuery, conn)
postcodes

    value
0   21149
1   21147
2   21079
3   21614
4   21629
5   21224
6   21641
7   21077
8   21075
9   21640
10  21644
11  21129
12  21647
13  21643

All is correct.

The list of postcode is not so long but it is easy to automated the check:

In [42]:
postcodes[postcodes.value.str.match('(?!^21\d{3}$)')]

Empty DataFrame
Columns: [value]
Index: []

No bad postcode.

## Check of the phone number

The german telephone numbers have a variable number of digits. They should begin with +49.

In [53]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'contact\' AND key=\'phone\''
phoneNumbers = pd.read_sql(sqlQuery, conn)
phoneNumbers[0:10]

              value
0   +49 40 79686761
1    +49 40 7020700
2  +49 4161 727 160
3   +49 4161 554354
4   +49 4161 727162
5   +49 4161 511410
6     04161 7439-70
7   +49 4161 743950
8  +49 4161 7433 60
9   +49 4161 7424 0

In [96]:
badPhoneNumbers = phoneNumbers[phoneNumbers.value.str.match('(?!^\+49[0-9 ]+$)')]
badPhoneNumbers

                              value
6                     04161 7439-70
16                 +49 4161 6447-15
24                  +49 4161 7160-0
25                    04161 7439-30
33                      040 7026655
35                      04161 72540
42                     04161 645637
44                       04161 7260
46                      04161 84850
56                  +49 40 570063-0
85  +49 4161 727141 +49 4161 727272
86                 +49 4108 59067-0

We have some number without +49 some numbers with some hypen and a double one.

As for the street we can write a function to correct the phone numbers.

In [91]:
def correctPhoneNumbers(number):
    # Supress the hyphen
    correctedNumber = number.replace('-', ' ')
    
    # Add a proper +49 at the beginning of the number
    if correctedNumber[0] == '0':
        correctedNumber = '+49 ' + correctedNumber[1:]
    
    # If several number are present take only the first
    pattern = '^(\+49[0-9 ]+).*$'
    res = re.match(pattern, correctedNumber)
    if res:
        correctedNumber = res.group(1).rstrip()
        
    return (number, correctedNumber)

Let tests some cases:

In [93]:
TestNumbers = ['+49 123-456', '04 555 111', '+49 123 456 +49 789 0123']
for n in TestNumbers:
    correctedNumber = correctPhoneNumbers(n)
    print('{}\t-->\t{}'.format(correctedNumber[0], correctedNumber[1]))

+49 123-456	-->	+49 123 456
04 555 111	-->	+49 4 555 111
+49 123 456 +49 789 0123	-->	+49 123 456

In [103]:
phoneNumberCorrection = badPhoneNumbers['value'].apply(correctPhoneNumbers).values
phoneNumberCorrection

array([('04161 7439-70', '+49 4161 7439 70'),
       ('+49 4161 6447-15', '+49 4161 6447 15'),
       ('+49 4161 7160-0', '+49 4161 7160 0'),
       ('04161 7439-30', '+49 4161 7439 30'),
       ('040 7026655', '+49 40 7026655'),
       ('04161 72540', '+49 4161 72540'),
       ('04161 645637', '+49 4161 645637'),
       ('04161 7260', '+49 4161 7260'), ('04161 84850', '+49 4161 84850'),
       ('+49 40 570063-0', '+49 40 570063 0'),
       ('+49 4161 727141 +49 4161 727272', '+49 4161 727141'),
       ('+49 4108 59067-0', '+49 4108 59067 0')], dtype=object)

The names are corrected. We have to correct them in the database.

### Correction of the phone numbers in the database

In [110]:
sqlUpdateRequest = 'UPDATE ways_tags SET value = \'{}\' WHERE value = \'{}\';'
for nb in phoneNumberCorrection:
    sqlQuery = sqlUpdateRequest.format(nb[1], nb[0])
    c.execute(sqlQuery)

Are the errors corrected?

In [109]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'contact\' AND key=\'phone\''
phoneNumbers = pd.read_sql(sqlQuery, conn)
badPhoneNumbers = phoneNumbers[phoneNumbers.value.str.match('(?!^\+49[0-9 ]+$)')]
badPhoneNumbers

Empty DataFrame
Columns: [value]
Index: []

No more wrong value anymore but are they really corrected?

There are not a lot of error. A complete check is possible.

In [114]:
for nb in phoneNumberCorrection:
    print(phoneNumbers[phoneNumbers['value'] == nb[1]].values)

[['+49 4161 7439 70']]
[['+49 4161 6447 15']]
[['+49 4161 7160 0']]
[['+49 4161 7439 30']]
[['+49 40 7026655']]
[['+49 4161 72540']]
[['+49 4161 645637']]
[['+49 4161 7260']]
[['+49 4161 84850']]
[['+49 40 570063 0']]
[['+49 4161 727141']]
[['+49 4108 59067 0']]

Now the phone number are corrected.

## Check of the fax numbers

The same methode can be applied for the fax numbers.

In [118]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'contact\' AND key=\'fax\''
faxNumbers = pd.read_sql(sqlQuery, conn)
badFaxNumbers = faxNumbers[faxNumbers.value.str.match('(?!^\+49[0-9 ]+$)')]
badFaxNumbers

                value
1       04161 7439-75
9    +49 4161 6447-10
16   +49 4161 7160-42
17      04161 7439-35
23        04161 85322
29       04161 645638
30       04161 726299
32        04161 78551
40  +49 40 570063-499
55  +49 4108 59067-29

In [119]:
faxNumberCorrection = badFaxNumbers['value'].apply(correctPhoneNumbers).values
faxNumberCorrection

array([('04161 7439-75', '+49 4161 7439 75'),
       ('+49 4161 6447-10', '+49 4161 6447 10'),
       ('+49 4161 7160-42', '+49 4161 7160 42'),
       ('04161 7439-35', '+49 4161 7439 35'),
       ('04161 85322', '+49 4161 85322'),
       ('04161 645638', '+49 4161 645638'),
       ('04161 726299', '+49 4161 726299'),
       ('04161 78551', '+49 4161 78551'),
       ('+49 40 570063-499', '+49 40 570063 499'),
       ('+49 4108 59067-29', '+49 4108 59067 29')], dtype=object)

### Correction of the bad fax number

In [121]:
sqlUpdateRequest = 'UPDATE ways_tags SET value = \'{}\' WHERE value = \'{}\';'
for nb in faxNumberCorrection:
    sqlQuery = sqlUpdateRequest.format(nb[1], nb[0])
    c.execute(sqlQuery)

Are the errors corrected?

In [123]:
sqlQuery = 'SELECT DISTINCT value FROM ways_tags WHERE type == \'contact\' AND key=\'fax\''
faxNumbers = pd.read_sql(sqlQuery, conn)
faxNumbers[faxNumbers.value.str.match('(?!^\+49[0-9 ]+$)')]

Empty DataFrame
Columns: [value]
Index: []

No more wrong value anymore but are they really corrected?

There are not a lot of error. A complete check is possible.

In [124]:
for nb in faxNumberCorrection:
    print(faxNumbers[faxNumbers['value'] == nb[1]].values)

[['+49 4161 7439 75']]
[['+49 4161 6447 10']]
[['+49 4161 7160 42']]
[['+49 4161 7439 35']]
[['+49 4161 85322']]
[['+49 4161 645638']]
[['+49 4161 726299']]
[['+49 4161 78551']]
[['+49 40 570063 499']]
[['+49 4108 59067 29']]

All fax numbers are corrected.

# Analysis of the data

## How many nodes in the database?

In [ ]:
c.execute('SELECT COUNT(id) FROM nodes')
print('There are {} nodes in the database'.format(c.fetchall()[0][0]))

## How many ways in the database?

In [ ]:
c.execute('SELECT COUNT(id) FROM ways')
print('There are {} ways in the database'.format(c.fetchall()[0][0]))

## How many users are in the tables?

In [ ]:
c.execute('SELECT COUNT(DISTINCT user) FROM ways')
print('There are {} different users in the ways table'.format(c.fetchall()[0][0]))

c.execute('SELECT COUNT(DISTINCT user) FROM nodes')
print('There are {} different users in the nodes table'.format(c.fetchall()[0][0]))

## List of different type of elements in the file

It is possible to have an idea of what sort of information are contains by having a look to the field 'type' of the nodes tags.

For clarity, only a part of the type are displayed here. Replace the last line by 'print(df.values)' to see the whole list.

In [ ]:
sqlQuery = 'SELECT DISTINCT nodes_tags.type \
          FROM nodes_tags;'
df = pd.read_sql(sqlQuery, conn)
print(df.values[20:35])

## What about fire protection?

The type 'water_hydrant' can be interessing to see.

In [ ]:
c.execute('SELECT count(type) \
          FROM nodes_tags \
          WHERE type == \'fire_hydrant\' AND nodes_tags.key = \'type\';')
print('There are {} fire hydrants in the database'.format(c.fetchall()[0][0]))

It should be possible to see their location. We can extract their position in latitude and longitude from the nodes table.

Displaying only the position it is hard to really see. We will extract also the ways and the name of the places.

*Note: For performance reason, the map can take some times to be generated. It is possible to activate the generation of the ways by setting the parameter 'plotWays' to True. The parameter 'plotPlace' can also be set to False but it not improve the performance just the visualisation.*

In [ ]:
# Function to plot the ways and the name of the place

def plotMap(plotWays = False, plotPlaces = True):
    # Extraction of the ways.
    if plotWays:
        sqlQuery = 'SELECT ways_nodes.id, ways_nodes.position, nodes.lat, nodes.lon \
              FROM ways_nodes \
              JOIN nodes \
              WHERE ways_nodes.node_id = nodes.id;'
        df = pd.read_sql(sqlQuery, conn)
        wayList = df['id'].unique()
        for way in wayList:
            singleWay = df[df['id'] == way].sort_values(by = ['position'])
            plt.plot(singleWay['lon'], singleWay['lat'], c='k', alpha=0.3)
    
    # Extraction of the name of the place.
    # For that a self join is needed because the name of the place separate from the type.
    # Also in name are given in German and Plattdeutsch. Only the German name should be selected
    # (it is the reason of the 'B.key IS NULL')
    if plotPlaces:
        sqlQuery = 'SELECT B.value, nodes.lat, nodes.lon \
              FROM nodes_tags A, nodes_tags B \
              JOIN nodes \
              ON nodes.id = A.id \
              WHERE A.type = \'place\' \
              AND B.type = \'name\' AND B.key IS NULL\
              AND A.id = B.id;'
        df = pd.read_sql(sqlQuery, conn)
        for i in range(df.shape[0]):
            plt.annotate(df.iloc[i]['value'], xy=(df.iloc[i]['lon'], df.iloc[i]['lat']), fontsize=15)

In [ ]:
# Extract all Fire_hydrant with their latitude and longitude
sqlQuery = 'SELECT nodes.lat, nodes.lon, nodes_tags.type, nodes_tags.key, nodes_tags.value \
          FROM nodes \
          JOIN nodes_tags ON nodes.id = nodes_tags.id \
          WHERE nodes_tags.type == \'fire_hydrant\' AND nodes_tags.key = \'type\';'
df = pd.read_sql(sqlQuery, conn)


plt.figure(num=None, figsize=(20, 15), dpi=80, facecolor='w', edgecolor='k')  
plotMap(plotWays = False)
plt.title('Position of fire hydrants', fontdict={'fontsize': 30})
plt.xlabel('Longitude', fontdict={'fontsize': 20})
plt.ylabel('Latitude', fontdict={'fontsize': 20})
plt.scatter(df['lon'], df['lat'], marker='x', s=70, c='r', alpha=0.9)
plt.show()

Some empty areas are clearly visible in the land part. This probably due to a lack of information. The land part are less covered by people who update the map. To improve the map, some effort can be done for the village without information.

# Close the database

Now the database connection can be closed.

In [ ]:
conn.close()

# Possible improvement

## Use a dictionary

As we see the naming convention is quite tricky. To check a dataset manually it can be a long boring job. Reduce the workload. A diationary approch can be used to remove the name which are clearly legal. The manual work will be reduce to the suspect names.

This can be done for the name based on people name.

## Cross the data on a bigger dataset

Another approch to find suspicious name is to cross the data with a biger dataset. The name of the place and street are very often redundant to a city to another. It is possible to extract the root of the names and compare the difference between the places.

If we concidere that the database contains data of good quality, we can supose that in average the name are good. A statiscal approch is probably a good one.

## Better visualisation

We saw that the data are probably missing. A better visualisation (not only the fire hydrants) can be used to see were to look to improve the coverage of the map.